@import 'commons/scss/var';

.studentMain {
  .studentMainWrap {
    display: flex;
    margin-top: 3.6rem;
    gap: 0 2.4rem;

    aside {
      width: 26.4rem;

      ul {
        width: 100%;

        li {
          @include flexCenterBetween();
          gap: 0 1.2rem;
          height: 6rem;
          margin-bottom: 2rem;
          padding: 1.6rem;
          border-radius: 0.8rem;
          border: 1px solid $dark-white-color;

          &>div {
            display: flex;
            gap: 0 1.2rem;
          }

          &.blue {

            i,
            span {
              color: $point-blue-color;
            }

            span {
              background-color: $light-blue-color;
            }
          }

          &.red {

            i,
            span {
              color: $point-red-color;
            }

            span {
              background-color: $light-red-color;
            }
          }

          &.green {

            i,
            span {
              color: $point-green-color;
            }

            span {
              background-color: $light-green-color;
            }
          }

          i {
            font-size: 2.8rem;
          }

          span {
            @include alignCenter();
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;
            font-weight: $medium-font-weight;
          }
        }
      }
    }

    main {}
  }
}