@import 'commons/scss/var.scss';

main.mainBanner {
  @include webInlinePadding();
  background-color: $light-blue-color;

  .mainBannerWrap {
    @include webMargin();
    @include flexCenterBetween();

    .mainBannerLeft {
      max-width: 42rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .bannerText {
        margin-top: 1.8rem;

        header {
          margin-bottom: 2.4rem;
          font-size: 4.8rem;
          line-height: 6rem;
          font-weight: $bold-font-weight;
          text-transform: uppercase;

          mark {
            position: relative;
            background-color: transparent;
            color: $point-blue-color;
            isolation: isolate;

            &::before {
              position: absolute;
              content: '';
              z-index: -1;
              width: 100%;
              height: 100%;
              bottom: -15%;
              background-image: url('../../../../commons/images/green-line.svg');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: left bottom;
            }
          }
        }

        p {
          margin-bottom: 2.4rem;
        }
      }

      &>img {
        display: inline-block;
        height: 52rem;
      }
    }
  }

}

@media (max-width: 1023px) {
  main.mainBanner {
    height: auto;
    padding: 2.8rem 0 0;

    .mainBannerWrap{
      @include flexCenterColumn();
      @include mobileInlinePadding();
      flex-wrap: wrap;

      .mainBannerLeft {
        @include flexCenterColumn();
        max-width: none;

        .bannerText{
          text-align: center;

          header{
            font-size: 6vw;
            line-height: 1.2;
          }

          p {
            font-size: 1.2rem;
            text-align: center;
          }
        }

        &>a {
          margin-bottom: 4rem;
        }
      }

      figure {
        flex: 1;
        @include imageAlignCenter();
        width: 80%;
        aspect-ratio: 1;
        margin: 0 auto;
      }
    }
  }
}
