@import 'commons/scss/var';

.icnMain {
  section {

    // section common styling
    h2.sectionTitle {
      @include flexCenterBetween();
      margin-bottom: 4.4rem;

      span {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4rem;
        color: $title-font-color;

        strong {
          color: $point-blue-color;
        }
      }

      a {
        @include flexAlignCenter();
        font-weight: 500;
        font-size: $web-base-font-size;
        line-height: 2.4rem;
        color: $point-blue-color;

        span {
          color: $point-blue-color;
          font-weight: 400;
          font-size: 2rem;
        }
      }
    }

    h3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 4.4rem;

      span {
        margin-bottom: 2.4rem;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4rem;
        color: $title-font-color;

        mark {
          @include markPoint();
        }
      }

      p {
        color: $grey-font-color;
      }

      a {
        margin-top: 3.2rem;
      }
    }

    // Section 1. New Contents
    &.newContents {
      padding: 10rem 10%;

      article {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 0 2.4rem;
      }
    }

    // Section 2 : This Month's Tutors
    &.thisMonthTutor,
    &.newTutor {
      padding: 10rem 10%;
      background-color: $light-blue-color;

      article {
        width: 100%;
      }
    }

    // Section 3 : Improve Your Skill...
    &.improveSkill {
      padding: 10rem 10%;

      article {
        @include flexCenterBetween();
      }
    }

    // Section 4 : Recommend Tutors
    &.recommendTutors {
      padding: 0 10%;

      .bgWrap {
        background-color: $light-blue-color;
        padding: 4.8rem 5% 8rem;
        border-radius: 2.4rem;
      }
    }

    // Section 5 : New Tutors
    &.newTutor {
      background-color: white;
    }
  }
}

@media (max-width: 1023px) {
  .icnMain {
    section {
      h2.sectionTitle {
        margin-bottom: 2.4rem;

        span {
          font-size: 2.4rem;
          line-height: 3.2rem;
        }

        a {
          @include flexAlignCenter();
          font-size: 1.2rem;
          line-height: 1.6rem;

          span {
            font-size: 1.6rem;
          }
        }
      }

      h3 {
        text-align: center;
      }

      &.newContents {
        padding: 5.2rem 3%;

        article {
          overflow: auto;
          width: auto;
          gap: 0 2.4rem;
        }
      }

      &.thisMonthTutor,
      &.newTutor {
        padding: 5.2rem 3%;
      }

      &.newTutor {
        margin-bottom: 3rem;
      }

      &.improveSkill {
        padding: 5.2rem 3%;

        article {
          @include flexCenterColumn();

          h3 {
            align-items: center;
          }

          img {
            width: 100%;
          }

        }
      }

      &.recommendTutors {
        padding: 0;
      }
    }

  }


}