@import 'commons/scss/var';

// tutor detail styling
.tutorDetail {
  @include webInlinePadding();

  .tutorDetailWrap {
    @include webMargin();

    .breadcrumbs {
      @include flexCenterBetween();
      margin: 2rem 0 3.2rem;

      a {
        color: $grey-font-color;

        i {
          margin-right: 1.5rem;
        }
      }

      nav {
        color: $grey-font-color;

        i {
          &:first-of-type {
            margin-right: 1rem;
            color: $point-blue-color;
          }

          &:nth-of-type(2) {
            margin-inline: 1.5rem;
          }
        }

        span {
          &:nth-of-type(2) {
            color: $light-grey-color;
          }
        }
      }
    }

    article {
      display: flex;
      flex-direction: row;
      flex: 0 1 auto;
      position: relative;
      width: 100%;
      padding-bottom: 2rem;
      gap: 0 2.4rem;

      main {
        flex-basis: 66.66666666%;
        max-width: 66.66666666%;

        section {
          h2 {
            margin-bottom: 2.4rem;
            font-weight: $bold-font-weight;
            font-size: 2.4rem;
            line-height: 3.2rem;
          }

          &.video {
            position: relative;
            aspect-ratio: 16/9;
  
            iframe {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        }

        .tutorTap {
          display: flex;
          margin: 4rem 0 3.2rem;
          gap: 0 2.4rem;

          li {
            padding: 0.8rem 2rem;
            font-size: 1.6rem;
            color: $grey-font-color;
            border-radius: 1.2rem;
            font-weight: $medium-font-weight;
            cursor: pointer;

            &:hover,
            &.active {
              background-color: #EDF4FF;
              color: $point-blue-color;
            }
          }
        }

        .tabContent {
          .tutorIntro {
            section {
              margin-bottom: 2.4rem;
              padding: 2rem;
              background: white;
              box-shadow: 0px 8px 64px rgba(16, 24, 40, 0.04);
              border-radius: 1.2rem;

              ul {
                padding-left: 2rem;

                li {
                  list-style: disc;
                  color: $dark-grey-color;
                }
              }
            }
          }
        }

        .tutorReview {
          .reviewGraph {
            @include flexCenterBetween();
            padding: 2rem;
            background: #F7F8FD;
            border-radius: 1.2rem;

            .reviewLeft {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 1.6rem 0;

              margin-right: 4rem;
              color: #F2C94C;

              strong {
                font-weight: $bold-font-weight;
                font-size: 4.4rem;
                line-height: 5.2rem;
              }

              .stars {
                display: flex;
                gap: 1rem;
                font-size: 2rem;
              }
            }

            .reviewRight {
              flex: 1;

              ul {
                li {
                  width: 100%;
                  @include alignCenter();
                  gap: 0 1.2rem;
                  margin-bottom: 1.2rem;

                  &>span {
                    font-size: 1.4rem;

                    &:first-of-type {
                      display: inline-block;
                      width: 8rem;
                      text-align: right;
                      font-weight: $medium-font-weight;
                    }

                    &:last-of-type {
                      display: inline-block;
                      width: 3.2rem;
                    }
                  }

                  p {
                    position: relative;
                    flex: 1;
                    height: 0.6rem;
                    border-radius: 10rem;
                    background-color: #D2E3FF;
                    overflow: hidden;

                    span {
                      position: absolute;
                      left: 0;
                      top: 0;
                      height: 100%;
                      border-radius: 10rem;
                      background-color: $point-blue-color;
                    }
                  }
                }
              }
            }
          }
        }

        .studentComment {
          margin-bottom: 5.2rem;

          &>ul {
            margin-top: 2.4rem;

            &>li {
              margin-top: 2.4rem;
              padding-bottom: 2.4rem;
              border-bottom: 1px solid $divider-color;

              &:last-child {
                border-bottom: transparent;
              }

              header {
                font-weight: $medium-font-weight;
              }

              .stars {
                display: flex;
                height: 1.4rem;
                margin-top: 0.5rem;
                gap: 0 1rem;
                font-size: 1.4rem;
                color: #F2C94C;
              }

              p {
                margin-top: 1.6rem;
                font-size: 1.4rem;
                color: $grey-font-color;
                line-height: 2.4rem;
              }
            }
          }

          button {
            @include alignCenter();
            color: $point-blue-color;
            background-color: transparent;
            font-size: 1.6rem;

            i {
              margin-right: 1.2rem;
            }
          }
        }

      }

      aside {
        position: sticky;
        top: 2rem;
        margin-bottom: 2rem;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
        height: fit-content;
        padding: 2rem;
        box-shadow: 0px 8px 64px rgba(16, 24, 40, 0.08);
        border-radius: 12px;

        .tutorInfoWrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          figure {
            @include imageAlignCenter();
            width: 8rem;
            height: 8rem;
            margin: 0 auto 2.4rem;
            border-radius: 50%;
          }

          header {
            font-weight: $medium-font-weight;
            font-size: 3.2rem;
            line-height: 4rem;
            margin-bottom: 0.8rem;

            strong {
              color: $point-blue-color;
            }
          }

          p {
            font-weight: $medium-font-weight;
            margin: 0.8rem 0;
          }

          em {
            display: block;
            margin-bottom: 2.4rem;
            color: $grey-font-color;
          }

        }
      }

    }
  }
}

@media (max-width: 1023px) {
  .tutorDetail {
    @include mobileInlinePadding();

    .tutorDetailWrap {
      width: 100%;

      .breadcrumbs {
        margin: 2rem 0 2.4rem;
      }

      article {
        display: flex;
        flex-direction: column-reverse;
        position: static;
        width: 100%;
        padding-bottom: 2rem;
        gap: 0 2.4rem;

        main {
          flex-basis: 1;
          max-width: 100%;

          section {
            header {
              height: 6.4rem;
              margin-bottom: 1.6rem;
              font-size: 2.4rem;
              line-height: 3.2rem;
            }
          }

          .tutorTap {
            @include alignCenter();
            margin: 4rem auto 3.2rem;
          }

          .tabContent {
            .tutorIntro {
              section {
                margin-bottom: 1.2rem;
                padding: 1.6rem;
                background: white;
                box-shadow: none;
                border-radius: 0;
              }
            }
          }

          .tutorReview {
            .reviewGraph {
              @include flexCenterColumn();
              padding: 1.6rem;

              .reviewLeft {
                margin-right: 0;
                margin-bottom: 2rem;
              }

              .reviewRight {
                flex: none;
                width: 100%;

                ul {
                  li {
                    margin-bottom: 0.8rem;
                  }
                }
              }
            }
          }

          .studentComment {
            margin-bottom: 5.2rem;

            &>ul {
              margin-top: 2.4rem;

              &>li {
                margin-top: 2.4rem;
                padding-bottom: 2.4rem;
                border-bottom: 1px solid $divider-color;

                &:last-child {
                  border-bottom: transparent;
                }

                header {
                  font-size: 1.6rem;
                  line-height: 2.4rem;
                  height: auto;
                  margin-bottom: 0;
                }
              }
            }
          }

        }

        aside {
          position: static;
          margin-bottom: 2rem;
          flex-basis: 1;
          max-width: 100%;
          height: fit-content;
          padding: 0;
          border-radius: 0;
          box-shadow: none;

          .video {
            position: relative;
            aspect-ratio: 16/9;
            margin-bottom: 4rem;
  
            iframe {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }

          .tutorInfoWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .starRate {
              flex-direction: row;
            }

            figure {
              margin: 0 auto 1.6rem;
            }

            header {
              font-weight: $medium-font-weight;
              font-size: 2.4rem;
              line-height: 3.2rem;
              margin-bottom: 0.8rem;

              strong {
                color: $point-blue-color;
              }
            }

            em {
              display: block;
              margin-bottom: 2.4rem;
              color: $grey-font-color;
            }

          }
        }

      }
    }
  }
}