@import 'commons/scss/var.scss';

.subpageStyling {
  section {
    h2.sectionTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: capitalize;
      margin-bottom: 4.4rem;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4rem;
      color: $title-font-color;

      a {
        @include flexAlignCenter();
        font-weight: 500;
        font-size: $web-base-font-size;
        line-height: 2.4rem;
        color: $point-blue-color;

        span {
          color: $point-blue-color;
          font-weight: 400;
          font-size: 2rem;
        }
      }
    }

    &.blueBg {
      background-color: $light-blue-color;
    }
  }

  &.whatIs,
  &.howTo,
  &.review,
  &.class {
    section {
      padding: 10rem 10%;
    }
  }

  &.howTo {
    .registerClassWrap {
      article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 10rem;

        div {
          header {
            margin-bottom: 1.6rem;
            font-weight: $bold-font-weight;
            font-size: 4.4rem;
            line-height: 5.2rem;
            color: $point-blue-color;
          }

          p {
            font-size: 2rem;
            line-height: 2.8rem;
          }
        }
      }

      .divider {
        height: 10rem;

        &.left {
          background: url('../../../commons/images/how-to-divider-left.png') no-repeat;
          background-position: center;
        }

        &.right {
          background: url('../../../commons/images/how-to-divider-right.png') no-repeat;
          background-position: center;
        }
      }
    }
  }

  &.review {
    .recommendReviewWrap {
      article {
        display: flex;
        align-items: center;
        gap: 0 7rem;

        div {
          span {
            margin-bottom: 1.6rem;
            font-weight: $bold-font-weight;
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          p {
            max-width: 65rem;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $grey-font-color;
          }

          header {
            margin-bottom: 0.8rem;
            font-weight: $medium-font-weight;
            font-size: 2.4rem;
            line-height: 3.2rem;
          }

          em {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
      }
    }

  }

  &.class {
    article {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}