@import 'commons/scss/var';

.recommendReviewWrap {
  article {
    display: flex;
    width: 100%;
    max-width: 112.8rem;
    gap: 0 7rem;
    padding-bottom: 6rem;
    overflow: hidden;

    .slick-slider {
      &:first-child {
        width: 36rem;

        .slick-list {
          margin-left: 0rem;

          .slick-track {
            display: block;
            width: 100%;

            .slick-slide {
              margin-left: 0rem;
            }
          }
        }
      }

      &:last-of-type {
        width: 60rem;

        .slick-dots {
          display: flex !important;
          bottom: 1rem;
          left: -1rem;
        }
      }
    }

    figure {
      @include imageAlignCenter();
      border-radius: 2.4rem;
      width: 36rem;
      height: 32rem;
    }

    div {
      span {
        display: block;
        margin-bottom: 1.6rem;
        font-weight: $bold-font-weight;
        font-size: 1.4rem;
        line-height: 2.4rem;
      }

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;

        max-width: 65rem;
        height: 15rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $grey-font-color;
      }

      header {
        margin-bottom: 0.8rem;
        font-weight: $medium-font-weight;
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      em {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
}