@import 'commons/scss/var.scss';

.webHeader {
  @include webInlinePadding();
  width: 100%;
  height: 8rem;
  box-shadow: 0 0.8rem 6.4rem rgba(16, 24, 40, 0.04);

  .webHeaderWrap {
    @include webMargin();
    @include flexCenterBetween();
    width: 100%;
    height: 100%;

    .profileStyling{
      @include flexAlignCenter();

      ul {
        @include flexAlignCenter();
        margin-left: 3.5rem;
        gap: 0 0.8rem;
        
        li {
          figure{
            @include imageAlignCenter();
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 1px solid $point-blue-color;
          }

          &:nth-child(2) {
            font-weight: $bold-font-weight;
          }
          &:nth-child(3) {
            i {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  .headerLeft {
    @include flexAlignCenter();
  }

  // Nav.js
  nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 1.6rem;
      font-weight: $medium-font-weight;
      transition: all 0.3s;

      &.active,
      &:hover {
        color: $point-blue-color;
      }
    }
  }

  // Sign.js
  .signs {
    display: flex;

    a {
      padding: 1.2rem 3rem;
      border-radius: 0.8rem;
      font-weight: $medium-font-weight;

      &:first-child {
        background-color: white;
        color: $point-blue-color;
      }

      &:last-child {
        margin-left: 1.6rem;
        background-color: $point-blue-color;
        color: white;
        border: 1px solid $point-blue-color;
      }
    }
  }
}

.mobileHeader {
  @include flexCenterBetween();
  padding: 0.8rem 3%;
  height: 6rem;

  &>a {
    img {
      display: inline-block;
      height: 100%;
    }
  }

  .mobileHeaderRight {
    display: flex;
    @include flexAlignCenter();

    a {
      margin-right: 2rem;
      padding: 1rem 2rem;
      border-radius: 0.8rem;
      background-color: $point-blue-color;
      color: white;
    }

    .hamburger {
      position: relative;
      width: 2rem;
      height: 1.5rem;
      transition: all 0.3s;

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $light-grey-color;
        right: 0;
        transition: all 0.3s;

        &:nth-child(1) {
          opacity: 1;
        }

        &:nth-child(2) {
          width: 50%;
          top: 50%;
        }

        &:nth-child(3) {
          top: 100%;
          width: 75%;
        }
      }

      &.active {
        span {
          animation-delay: 0.3s;
          animation-fill-mode: both;
          animation-duration: 0.3s;

          &:nth-child(1) {
            animation-name: hamburgerFirstBtn;
          }

          &:nth-child(2) {
            width: 100%;
            animation-name: hamburgerSecondBtn;
          }

          &:nth-child(3) {
            width: 100%;
            animation-name: hamburgerThirdBtn;
          }
        }
      }
    }
  }
}

.navWrap {
  position: absolute;
  top: 6rem;
  left: -100vw;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - 6rem);
  background-color: white;

  &.active {
    left: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    
    a {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1rem;
      padding: 1rem 2rem;
      border: 1px solid $point-blue-color;
    }
  }
}


@keyframes hamburgerFirstBtn {
  to {
    opacity: 0;
  }
}

@keyframes hamburgerSecondBtn {
  to {
    transform: rotate(45deg);
    top: 50%;
  }
}

@keyframes hamburgerThirdBtn {
  to {
    transform: rotate(-45deg);
    top: 50%;
  }
}