@import 'commons/scss/var';

// tags styling
.tags {
  display: flex;
  gap: 0 1.6rem;
  margin-bottom: 1.6rem;

  li {
    position: relative;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-left: 1rem;

    &::before {
      content: '';
      left: 0;
      top: calc(50% - 3px);
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
    }

    &.business {
      color: $point-blue-color;

      &::before {
        background-color: $point-blue-color;
      }
    }

    &.education {
      color: $alert-red-color;

      &::before {
        background-color: $alert-red-color;
      }
    }
  }

}
// align styling
.alignRight {
  display: flex;
  justify-content: flex-end;

}
// button styling
.blueButton {
  @include blueButton();
}

.whiteButton {
  @include whiteButton();
}

.lineButton {
  @include lineButton();
}

.webWrap {
  @include webMargin();
}

// 별점 스타일링
.starRate {
  @include flexAlignCenter();

  .stars {
    display: flex;
    overflow: hidden;

    li {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin-right: 1rem;
      background-position: center left;

      i {
        font-size: 1.4rem;
        color: #F2C94C;
      }
    }
  }

  span {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $grey-font-color;

    &:first-of-type {
      margin-right: 0.3rem;
    }

    &.color {
      font-size: 1.4rem;
      color: #F2C94C;
      font-weight: $bold-font-weight;
    }
  }
}

// 슬라이더 스타일링
.slick-slider {

  .slick-list {
    margin-left: -2.4rem;

    .slick-track {
      display: flex;
      width: 100%;

      .slick-slide {
        margin-left: 2.4rem;
      }
    }
  }

  .slick-dots {
    bottom: -5rem;

    li {
      button:before {
        color: #D4DDEB;
      }

      &.slick-active button:before {
        color: $point-blue-color;
      }

    }
  }
}

