// font sizes

$web-base-font-size: 1.6rem;
$mobile-base-font-size: 1.4rem;

// colors
$point-blue-color: #2A549D;
$light-blue-color: #98BEFF;
$alert-red-color: #EB5757;

// font colors
$base-font-color: #333333;

// font weight
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$thick-font-weight: 900;

// button stylings

// margin & padding
$web-inline-padding : 0 10%;
$mobile-inline-padding : 0 5%;


// --------------------------- mixins
@mixin whiteButton {
  display: inline-block;
  background-color: white;
  color: $point-blue-color;
  width: fit-content;
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid $point-blue-color;
  font-weight: $bold-font-weight;
}

@mixin imageAlignCenter {
  position: relative;
  overflow: hidden;

  & > img{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;  
    object-fit: cover;
  }
}