// font sizes

$web-base-font-size: 1.6rem;
$mobile-base-font-size: 1.4rem;

// colors
$point-blue-color: #2A549D;
$light-blue-color: #EFF3FB;
$alert-red-color: #EB5757;
$sky-blue-color: #C9DCFE;

// font colors
$base-font-color: #424242;
$title-font-color: #333333;
$grey-font-color : #a5a5a5;

// font weight
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$thick-font-weight: 900;

// button stylings

// margin & padding
$web-inline-padding : 0 10%;
$mobile-inline-padding : 0 5%;


// --------------------------- mixins
@mixin blueButton {
  display: inline-block;
  background-color: $point-blue-color;
  color: white;
  width: fit-content;
  padding: 1.4rem 2rem;
  border-radius: 0.8rem;
  border: 1px solid $point-blue-color;
  font-weight: $bold-font-weight;
}

@mixin whiteButton {
  display: inline-block;
  background-color: white;
  color: $point-blue-color;
  width: fit-content;
  padding: 1.4rem 2rem;
  border-radius: 0.8rem;
  border: 1px solid white;
  font-weight: $bold-font-weight;
}

@mixin imageAlignCenter {
  position: relative;
  overflow: hidden;

  & > img{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;  
    object-fit: cover;
  }
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin markPoint{
  position: relative;
  background-color: transparent;
  color: $point-blue-color;
  isolation: isolate;

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    bottom: -15%;
    background-image: url('../images/green-line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
  }
}