@import 'commons/scss/var';

.tutorItem {
  border: 1px solid #eee;
  border-radius: 1.2rem;
  overflow: hidden;

  &>figure {
    @include imageAlignCenter();
    width: 100%;
    height: 24rem;
  }

  .infoWrap {
    padding: 1.6rem;
    background-color: white;

    header {
      margin-bottom: 0.8rem;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.8rem;
    }

    &>p {
      margin-bottom: 0.8rem;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $grey-font-color;
    }

  }
}

@media (max-width: 1023px) {
  .tutorItem {
    &>figure {
      height: 16rem;
    }
  
    .infoWrap {
      header {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
    }
  }
  
}